* {
  font-family: 'Poppins', sans-serif;
  background-color: #070810;
  color: rgb(208, 244, 242);
}
.title{

    margin: auto;
  width: 25%;
  text-align: center;
  font-size: 48px;
}
ol,
ul {
  display: grid;
  /* adjust the `min` value to your context */
  grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
  gap: 1rem;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
}

/* CSS */
.button {
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #d44718;
}

.button:focus {
  box-shadow: #d44718(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #d44718;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #a83914;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button{

    

    margin-left: 10%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #d44718;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #e04511;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

#firstChoice{

    margin-top:2%;
    margin-left: 10%;
    display: none;

}

#secondChoice{

    margin-top:2%;
    margin-left: 10%;
    display: none;

}

#thirdChoice{

    margin-top:2%;
    margin-left: 10%;
    display: none;

}

#fourthChoice{

    margin-top:2%;
    margin-left: 10%;
    display: none;

}

#fifthChoice{

    margin-top:2%;
    margin-left: 10%;
    display: none;

}